.sortable{
    cursor: pointer;
}

.asc > div {
width: 0;
height: 0;
border-style: solid;
border-width: 0 6px 6px 6px;
border-color: transparent transparent #000000 transparent;
}

.desc > div {
width: 0;
height: 0;
border-style: solid;
border-width: 6px 6px 0 6px;
border-color: #000000 transparent transparent transparent;
}
