<head>
    <!-- <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css"> -->
    <!-- <script>
        $("th").click(function () {
            debugger;
            console.log("jquery called");
            if ($("th").hasClass("asc")) {
                $("th > span").addClass("asc");
            } else if ($("th").hasClass("desc")) {
                $("th > span").addClass("desc");
            } else {

            }
        });
    </script> -->
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">To Do Lists</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/lists">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/newtask">Add Task</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/past">History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>
    </nav>
    <router-outlet></router-outlet>
</body>