<head>
    <!-- <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css"> -->
    <!-- <script>
        $("th").click(function () {
            debugger;
            console.log("jquery called");
            if ($("th").hasClass("asc")) {
                $("th > span").addClass("asc");
            } else if ($("th").hasClass("desc")) {
                $("th > span").addClass("desc");
            } else {

            }
        });
    </script> -->
</head>

<body>
    <router-outlet></router-outlet>
</body>