<div class="container">
  <div class="control-bar">
    <input [(ngModel)]="searchText" placeholder="Search.." class="advancedSearchTextbox">
  </div>



  <div class="ListContainer">
    <table class="table" id="tasksTable">
      <thead>
        <tr>
          <th scope="col" sortable="id" (sort)="colSort($event)" class="sortable" style="width: 10%">
            #
          </th>
          <th scope="col" style="width: 10%">User ID</th>
          <th scope="col" sortable="title" (sort)="colSort($event)" class="sortable" style="width: 25%">
            Title
          </th>
          <th scope="col" sortable="completed" (sort)="colSort($event)" class="sortable" style="width: 10%">
            Status
          </th>
          <th scope="col" colspan="1" style="width: 10%">Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let task of taskList | tableFilter: {title: searchText}; index as i;">
        <tr>
          <td>{{task.id}}</td>
          <td>{{task.userId}}</td>
          <td [ngClass]="(task.completed==true)?'strike-through-text':''">{{task.title}}</td>
          <td>
            <!-- If Task Completed -->
            <span *ngIf="task.completed" octicon="checklist" class="checklist-done"></span>
            <!-- If Task Not Completed -->
            <span *ngIf="!task.completed" octicon="dash"></span>
          </td>
          <td>
            <span octicon="check" width="16" class="icon-ten-pad done-icon"
              (click)="markAsDoneById(task.id)">DONE</span>
            <span octicon="trashcan" class="icon-ten-pad delete-icon" (click)="deleteTaskById(task.id)"></span>
            <span octicon="comment-discussion" [routerLink]="['/notes', task.id]" class="icon-ten-pad"></span>
          </td>
        </tr>
        <tr id="row" *ngIf="task.note">
          <td colspan="6">
            <div id="notes">
              <p><b>Notes:</b></p>{{task.note}}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>
    <button (click)="viewDeleted()" class="btn btn-secondary">View Deleted Tasks</button>
  </div>
</div>