.add-task{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.cross{
    cursor: pointer;
}

.icon-ten-pad{
    padding: 0 10px;
    cursor: pointer;
}

.delete-icon:hover{
    color: red;
}

.done-icon:hover{
    color: green;
}

.strike-through-text{
    text-decoration-line: line-through;
}

.checklist-done{
    color: darkblue
}